<form class="form-horizontal characterForm" novalidate="" name="editCharacterForm">
    
    <div ng-include="'views/party/manage-menu-edit.html'"></div>
    <div class="clear"></div>
    
    <div class="row" ng-show="chooseAvatarMode">
        <div ng-include="'views/character/choose-avatar.html'"></div>
    </div>
    <div class="row" ng-hide="chooseAvatarMode">
        <div class="col-md-4">
             <div class="panel panel-default">
                <div class="panel-body">
                  <div ng-click="showAvailableAvatars()" class="portrait" ng-class="character.portrait || 'default'"></div>
                </div>
             </div>
             <div ng-include="'views/character/attributes-bars.html'"></div>
        </div>
        <div class="col-md-8">
            
            <div class="form-group">
                <label class="control-label col-md-3">
                    <i class="fa fa-user"></i>&nbsp;Imię
                </label>
                <div class="col-md-9">
                    <input ng-class="{ 'has-error': editCharacterForm.name.$invalid && editCharacterForm.name.$dirty }" ng-model="character.name" class="form-control" name="name" type="text" placeholder="np. Roman Niszczyciel" required="">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="control-label col-md-3">
                    <i class="fa fa-male"></i>&nbsp; Rasa</label>
                <div class="col-md-9">
                    <select name="race" ng-model="character.race" ng-options="r.id as r.name for r in getAvailableRaces()" ng-class="{ 'has-error': editCharacterForm.race.$invalid && editCharacterForm.race.$dirty }" class="form-control" required="">
                        <option value="">Wybierz rasę</option>
                    </select>
                    
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    <i class="fa fa-magic"></i>&nbsp; Profesja</label>
                <div class="col-md-9">
                    <select name="profession" ng-class="{ 'has-error': editCharacterForm.profession.$invalid && editCharacterForm.profession.$dirty }" ng-model="character.profession" ng-options="p.id as p.name for p in getAvailableProfessions()" class="form-control" required="">
                        <option value="">Wybierz profesję</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-3">
                    <label><i class="fa fa-star"></i>&nbsp;Zdolności
                        </label>
                </div>
                <div class="col-md-9">
                    <p class="form-control-static">
                        <span class="label label-warning">{{ lookups.races[character.race].talent }}</span>
                        <span class="label label-info">{{ lookups.professions[character.profession].talent }}</span>
                    </p>
                </div>
            </div>
            
            <hr>
            
            <div class="form-group">
                <div class="control-label col-md-3">
                    <label><i class="fa fa-legal"></i>&nbsp;Broń</label>
                </div>
                <div class="col-md-9">
                    <items-chooser character="character" party="getActiveParty()" item-filter="isWeapon" display-type="'success'"></items-chooser>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-md-3">
                    <label><i class="fa fa-shield"></i>&nbsp;Pancerz</label>
                </div>
                <div class="col-md-9">
                    <items-chooser character="character" party="getActiveParty()" item-filter="isArmor"></items-chooser>                  
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-md-3">
                     <label><i class="fa fa-flask"></i>&nbsp;Ekwipunek</label>
                </div>
                <div class="col-md-9">
                    <items-chooser character="character" party="getActiveParty()" item-filter="ItemType.Equipment" display-type="'info'"></items-chooser>
                </div>
            </div>            
            
        </div>
    </div>
</form>