body {
	background-image: url('../images/natural_paper.png');
	background-repeat: repeat;
}

.main, .sidebar, .footer {
	background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.footer {
    margin-top: 10px;
    font-size: smaller;
}

.unstyled li {
	list-style: none;
}

input.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid {
	border: 1px solid Red;
}

.center {
	text-align: center;
}

.idx-cell {
	width: 5%;
}

.badge-label {
	max-width: 7em;
	position: relative;
	left: -2em;
	bottom: -0.2em;
	display: inline-block;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
}

.partyLi {
	/*font-size: 200%;*/
}

.partyLi a {
	padding: 0.5em;
}

.character{
	border: 1px lightgray solid; 
	border-radius: 5px; 
	padding: 0.4em;
	margin: 0.5em;
}

.b {
	font-weight: bold;
}

.apart{
	margin: 0.1em;
}

.marg-no-left{
	margin-left: 0;
}

.inl-block{
	display: inline-block;
}

.items-bag .label {
	display: inline-block;
	margin: 0.1em;
    cursor: pointer;
}

.item {
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
	
}

table.center tr td, table.center tr th{
	text-align: center;
}

.flarge{
	font-size: 140%;
}

hr.no-margin {
	margin: 0.5em;
}

.character-digest {
	margin: 0.5em;
	padding: 0.5em;
	border-radius: 5px;
	border: solid 1px #ccc;
}

.card {
    position: relative;
	margin: 0.7em;
	padding: 0.5em;
    box-shadow:0 1px 2px #aaa;
    border: solid 1px #fff;
    background: white;
    margin:0 1rem 1rem;
    border-radius:3px;
    transition: 0.3s;
}

.card:hover {
	transition: 0.3s;
    border: solid 1px #ccc;
	-webkit-transform: translate(0px, -10px) scale(1.05);
    -moz-transform: translate(0px, -10px) scale(1.05);
}

.card.character{
 	width: auto;
	min-height: 100px;   
}

.max {
    width: 100%;
}

.label.points {
    font-weight: bold;
}

.attr-bars {
    margin-top: 10px;
}

.av-thmb {
    max-width: 150px;
    width: 150px;
}

.i-top-left {
    position: absolute; 
    z-index: 100; 
    top: -0.5em; 
    left: 87%;
}

.card.delete:hover {
    transition: 0.3s;
    border: solid 1px #ccc;
	-webkit-transform: none;
    -moz-transform: none;
}

.card.delete .icon-remove-sign, .card.delete .icon-remove-sign:hover {
    transition: 0.5s;
}

.card.delete .icon-remove-sign:hover {
	-webkit-transform: scale(1.05) rotate(180deg);
    -moz-transform: scale(1.05) rotate(180deg);    
}

.portrait {
     background-position: center bottom;
     -webkit-background-size: 100% 100%;           /* Safari 3.0 */
         -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
           -o-background-size: 100% 100%;           /* Opera 9.5 */
              background-size: 100% 100%;    
}

.portrait.default {
    background-image: url('../images/portraits/default.jpg')   
}

.characterForm .portrait {
    height: 300px;
}

.characterForm .avatar-chooser .portrait {
    height: 150px;
}

.characters-list .portrait {
    height: 250px; 
}

.party-card {
    background-image: url('../images/card.jpg');   
}

[party-card-render] { 
    display: none;   
}

.nav, .pagination, .carousel a { cursor: pointer; }



body {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 18px;
}