.default { background-image: url('../images/portraits/default.jpg'); }
.armored-1 { background-image: url('../images/portraits/Armored_1.jpg'); }
.armored-2 { background-image: url('../images/portraits/Armored_2.jpg'); }
.armored-3 { background-image: url('../images/portraits/Armored_3.jpg'); }
.armored-4 { background-image: url('../images/portraits/Armored_4.jpg'); }
.armored-5 { background-image: url('../images/portraits/Armored_5.jpg'); }
.armored-6 { background-image: url('../images/portraits/Armored_6.jpg'); }
.cyberpunk-1 { background-image: url('../images/portraits/Cyberpunk_1.jpg'); }
.cyberpunk-2 { background-image: url('../images/portraits/Cyberpunk_2.jpg'); }
.cyberpunk-3 { background-image: url('../images/portraits/Cyberpunk_3.jpg'); }
.cyberpunk-4 { background-image: url('../images/portraits/Cyberpunk_4.jpg'); }
.cyberpunk-5 { background-image: url('../images/portraits/Cyberpunk_5.jpg'); }
.cyberpunk-6 { background-image: url('../images/portraits/Cyberpunk_6.jpg'); }
.cyberpunk-7 { background-image: url('../images/portraits/Cyberpunk_7.jpg'); }
.cyberpunk-8 { background-image: url('../images/portraits/Cyberpunk_8.jpg'); }
.cyberpunk-9 { background-image: url('../images/portraits/Cyberpunk_9.jpg'); }
.dwarf-1 { background-image: url('../images/portraits/Dwarf_1.jpg'); }
.dwarf-2 { background-image: url('../images/portraits/Dwarf_2.jpg'); }
.dwarf-3 { background-image: url('../images/portraits/Dwarf_3.jpg'); }
.dwarf-4 { background-image: url('../images/portraits/Dwarf_4.jpg'); }
.dwarf-5 { background-image: url('../images/portraits/Dwarf_5.jpg'); }
.dwarf-6 { background-image: url('../images/portraits/Dwarf_6.jpg'); }
.elf-1 { background-image: url('../images/portraits/Elf_1.jpg'); }
.elf-2 { background-image: url('../images/portraits/Elf_2.jpg'); }
.elf-3 { background-image: url('../images/portraits/Elf_3.jpg'); }
.elf-4 { background-image: url('../images/portraits/Elf_4.jpg'); }
.elf-5 { background-image: url('../images/portraits/Elf_5.jpg'); }
.elf-6 { background-image: url('../images/portraits/Elf_6.jpg'); }
.elf-7 { background-image: url('../images/portraits/Elf_7.jpg'); }
.elf-8 { background-image: url('../images/portraits/Elf_8.jpg'); }
.elf-9 { background-image: url('../images/portraits/Elf_9.jpg'); }
.gnome-1 { background-image: url('../images/portraits/Gnome_1.jpg'); }
.gnome-2 { background-image: url('../images/portraits/Gnome_2.jpg'); }
.hero-1 { background-image: url('../images/portraits/Hero_1.jpg'); }
.hero-2 { background-image: url('../images/portraits/Hero_2.jpg'); }
.hero-3 { background-image: url('../images/portraits/Hero_3.jpg'); }
.human-1 { background-image: url('../images/portraits/Human_1.jpg'); }
.human-2 { background-image: url('../images/portraits/Human_2.jpg'); }
.human-3 { background-image: url('../images/portraits/Human_3.jpg'); }
.human-4 { background-image: url('../images/portraits/Human_4.jpg'); }
.human-5 { background-image: url('../images/portraits/Human_5.jpg'); }
.human-6 { background-image: url('../images/portraits/Human_6.jpg'); }
.human-7 { background-image: url('../images/portraits/Human_7.jpg'); }
.human-8 { background-image: url('../images/portraits/Human_8.jpg'); }
.human-9 { background-image: url('../images/portraits/Human_9.jpg'); }
.ithilid-1 { background-image: url('../images/portraits/Ithilid_1.jpg'); }
.mad-scientist-1 { background-image: url('../images/portraits/Mad_Scientist_1.jpg'); }
.mad-scientist-2 { background-image: url('../images/portraits/Mad_Scientist_2.jpg'); }
.manimal-1 { background-image: url('../images/portraits/Manimal_1.jpg'); }
.manimal-2 { background-image: url('../images/portraits/Manimal_2.jpg'); }
.manimal-3 { background-image: url('../images/portraits/Manimal_3.jpg'); }
.manimal-4 { background-image: url('../images/portraits/Manimal_4.jpg'); }
.manimal-5 { background-image: url('../images/portraits/Manimal_5.jpg'); }
.manimal-6 { background-image: url('../images/portraits/Manimal_6.jpg'); }
.manimal-7 { background-image: url('../images/portraits/Manimal_7.jpg'); }
.manimal-8 { background-image: url('../images/portraits/Manimal_8.jpg'); }
.manimal-9 { background-image: url('../images/portraits/Manimal_9.jpg'); }
.pirate-1 { background-image: url('../images/portraits/Pirate_1.jpg'); }
.pirate-2 { background-image: url('../images/portraits/Pirate_2.jpg'); }
.pirate-3 { background-image: url('../images/portraits/Pirate_3.jpg'); }
.pirate-4 { background-image: url('../images/portraits/Pirate_4.jpg'); }
.pirate-5 { background-image: url('../images/portraits/Pirate_5.jpg'); }
.pirate-6 { background-image: url('../images/portraits/Pirate_6.jpg'); }
.pirate-7 { background-image: url('../images/portraits/Pirate_7.jpg'); }
.robot-1 { background-image: url('../images/portraits/Robot_1.jpg'); }
.robot-2 { background-image: url('../images/portraits/Robot_2.jpg'); }
.robot-3 { background-image: url('../images/portraits/Robot_3.jpg'); }
.robot-4 { background-image: url('../images/portraits/Robot_4.jpg'); }
.robot-5 { background-image: url('../images/portraits/Robot_5.jpg'); }
.robot-6 { background-image: url('../images/portraits/Robot_6.jpg'); }
.robot-7 { background-image: url('../images/portraits/Robot_7.jpg'); }
.robot-8 { background-image: url('../images/portraits/Robot_8.jpg'); }
.robot-9 { background-image: url('../images/portraits/Robot_9.jpg'); }
.scary-1 { background-image: url('../images/portraits/Scary_1.jpg'); }
.scary-2 { background-image: url('../images/portraits/Scary_2.jpg'); }
.scary-3 { background-image: url('../images/portraits/Scary_3.jpg'); }
.scary-4 { background-image: url('../images/portraits/Scary_4.jpg'); }
.scary-5 { background-image: url('../images/portraits/Scary_5.jpg'); }
.scary-6 { background-image: url('../images/portraits/Scary_6.jpg'); }
.scary-7 { background-image: url('../images/portraits/Scary_7.jpg'); }
.steampunk-1 { background-image: url('../images/portraits/Steampunk_1.jpg'); }
.steampunk-2 { background-image: url('../images/portraits/Steampunk_2.jpg'); }
.steampunk-3 { background-image: url('../images/portraits/Steampunk_3.jpg'); }
.steampunk-4 { background-image: url('../images/portraits/Steampunk_4.jpg'); }
.steampunk-5 { background-image: url('../images/portraits/Steampunk_5.jpg'); }
.steampunk-6 { background-image: url('../images/portraits/Steampunk_6.jpg'); }
.steampunk-7 { background-image: url('../images/portraits/Steampunk_7.jpg'); }
.toon-1 { background-image: url('../images/portraits/Toon_1.jpg'); }
.troll-1 { background-image: url('../images/portraits/Troll_1.jpg'); }
.troll-2 { background-image: url('../images/portraits/Troll_2.jpg'); }
.troll-3 { background-image: url('../images/portraits/Troll_3.jpg'); }
.troll-4 { background-image: url('../images/portraits/Troll_4.jpg'); }
.troll-5 { background-image: url('../images/portraits/Troll_5.jpg'); }
.troll-6 { background-image: url('../images/portraits/Troll_6.jpg'); }
.troll-7 { background-image: url('../images/portraits/Troll_7.jpg'); }
.troll-8 { background-image: url('../images/portraits/Troll_8.jpg'); }
.troll-9 { background-image: url('../images/portraits/Troll_9.jpg'); }
.vampire-1 { background-image: url('../images/portraits/Vampire_1.jpg'); }
.vampire-2 { background-image: url('../images/portraits/Vampire_2.jpg'); }
.vampire-3 { background-image: url('../images/portraits/Vampire_3.jpg'); }
.vampire-4 { background-image: url('../images/portraits/Vampire_4.jpg'); }
.vampire-5 { background-image: url('../images/portraits/Vampire_5.jpg'); }
.zombie-1 { background-image: url('../images/portraits/Zombie_1.jpg'); }
.zombie-2 { background-image: url('../images/portraits/Zombie_2.jpg'); }
.zombie-3 { background-image: url('../images/portraits/Zombie_3.jpg'); }
.zombie-4 { background-image: url('../images/portraits/Zombie_4.jpg'); }
.zombie-5 { background-image: url('../images/portraits/Zombie_5.jpg'); }
.zombie-6 { background-image: url('../images/portraits/Zombie_6.jpg'); }
.zombie-7 { background-image: url('../images/portraits/Zombie_7.jpg'); }
