<div class='col-md-4' ng-class='{ delete: state.deleteMode }' ng-click='editCharacter(member)'>
    <i ng-click='removeCharacter($event, member)' ng-show='state.deleteMode' class='fa fa-times-circle fa-3x text-danger i-top-left'></i>
    <div class='card row'>

        <div class='col-md-12'>
            <div class='portrait ' ng-class="member.portrait || 'default'" >
            </div>
        </div>

        <div class="col-md-9">{{ member.name }}</div>
        
        <div class="col-md-2 pull-left">
            <span class="label label-warning points">{{ calcMemberCost(member) }}</span>
        </div>

        <div class='col-md-12'>
            {{ lookups.professions[member.profession].name }}
        </div>

        <div class='col-md-12'>
            {{ lookups.races[member.race].name }}
        </div>

    </div>
</div>

