<div class='col-md-12 avatar-chooser'>
    <div class='row'>
            <div class='col-md-2 card' ng-click="chooseAvatar(a)" ng-repeat='a in avatars'>
                <div class='portrait' ng-class="a" />
            </div>
    </div>
    <!-- ul class='list-unstyled'>
        <li class='pull-left' ng-click="chooseAvatar(a)" ng-repeat='a in avatars'>
            <div class='card'>
                <div class='portrait av-thmb' ng-class="a" />
            </div>
        </li>
    </ul -->
</div>