<div class="row">
    <div class="col-md-4" ng-controller="ImportPartyController">
        <alert type="info">
            ..lub zaimportuj drużynę z pliku&nbsp;
            <br/>
            <button class="btn btn-primary center-block" forward-click=".importFile" >
                <i class="fa fa-file-o"></i>&nbsp; Zaimportuj drużynę
            </button>
            <input class="importFile" type="file" ng-file-select="importParty($files)" style="position: fixed; top: -100px;" />
        </alert>
    </div>
    <div class="col-md-8">

    </div>

</div>

