<div class="navbar navbar-inverse">
    <a class="navbar-brand" style="max-width: 100%;" href="#">
        <i class='fa fa-user'></i>&nbsp; Edycja postaci - {{ character.name }}
    </a>
    <ul class="nav navbar-nav pull-right">
        <li>
            <div class='navbar-form'>
                
                <button ng-click="manageParty()" 
                        ng-disabled='editCharacterForm.$invalid || !character.isValid()' 
                        class='btn btn-default' >
                    <i class='fa fa-chevron-left'></i>
                    &nbsp; Powrót
                </button>
            </div>
        </li>
    </ul>
</div>