<div class="navbar navbar-inverse">
        <div class='container-fluid'>
            <a class="navbar-brand" style="max-width: 100%;" href="#">Członkowie drużyny</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <i class='fa fa-list'></i>
                    </a>
                </li>
                <li class='active'>
                    <a href="#">
                        <i class='fa fa-th-large'></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <div class='navbar-form btn-group'>
                        <button ng-hide="state.deleteMode"  class='btn btn-primary' ng-click='saveChanges()' >
                            <i class='fa fa-save'></i>&nbsp;
                            Zapisz zmiany
                        </button>
                        <button ng-hide="state.deleteMode || !party.canAddMember()"  class='btn btn-inverse' ng-click='addCharacter()' >
                            <i class='fa fa-plus'></i>&nbsp;
                            Dodaj postać
                        </button>
                        <button ng-show="state.deleteMode" style='border-top-left-radius: 4px; border-bottom-left-radius: 4px;' ng-click='state.deleteMode = false' href="#" class='btn btn-inverse' ng-click='toggleDeleteMode()' >
                            <i class='fa fa-ok'></i>&nbsp;
                            Zakończ usuwanie
                        </button>                        
                        <button href="#" class='btn dropdown-toggle' data-toggle="dropdown">
                            &nbsp;
                            <i class='fa fa-ellipsis-v'></i>
                            &nbsp;
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href='#' ng-click="printParty()">
                                    <i class='fa fa-print'></i> &nbsp;
                                    Drukuj kartę
                                </a>
                            </li>                            
                            <li>
                                <a ng-click='state.deleteMode = true' >
                                    <i class='fa fa-minus'></i>&nbsp;
                                    Usuń członka
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href='#' ng-click="destroyParty()">
                                    <i class='fa fa-trash-o'></i> &nbsp;
                                    Zniszcz drużynę
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
<h1>{{ deleteMode }}</h1>