<div>
    <div class='row'>
        <h1 class='col-md-11' contenteditable ng-model="party.name">
            {{ party.name }}
        </h1>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class='progress progress-striped'>
                <div class='progress-bar progress-bar-primary ' style='height: 20px;' ng-style="{ width: (calcPartyCost()*100 / party.points) + '%' }">
                    <span class='label label-primary' style='bottom: 1px; position: relative;'>
                        <strong>{{ calcPartyCost() }} / {{ party.points }}</strong>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <p class='col-md-12 lead' contenteditable ng-model="party.description">{{ party.description }}</p>
    </div>

    <div ng-switch='state.action'>
        <div class='characters-list' ng-switch-when='list_characters'>

            <div ng-include="'views/party/manage-menu-list.html'"></div>

            <div class='row'>
                <div ng-include="'views/character/action.html'" ng-repeat="member in party.members"></div>
            </div>

        </div>
        <div ng-switch-when='edit_character' ng-controller='EditCharacterController'>
            <div ng-include="'views/character/edit.html'"></div>
        </div>
    </div>
    <div party-card-render></div>
</div>