<div class="navbar navbar-inverse">
        <div class='container-fluid'>
            <a class="navbar-brand" style="max-width: 100%;" href="#">Członkowie drużyny</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <i class='icon-list'></i>
                    </a>
                </li>
                <li class='active'>
                    <a href="#">
                        <i class='icon-th-large'></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <div class='navbar-form btn-group'>
                        <button ng-hide="managePartyState.deleteMode"  class='btn btn-primary' ng-click='saveChanges()' >
                            <i class='icon-save'></i>
                            Zapisz zmiany
                        </button>
                        <button ng-hide="managePartyState.deleteMode"  class='btn btn-inverse' ng-click='addCharacter()' >
                            <i class='icon-plus-sign'></i>
                            Dodaj postać
                        </button>
                        <button ng-show="managePartyState.deleteMode" style='border-top-left-radius: 4px; border-bottom-left-radius: 4px;' ng-click='managePartyState.deleteMode = false' href="#" class='btn btn-inverse' ng-click='toggleDeleteMode()' >
                            <i class='icon-ok'></i>
                            Zakończ usuwanie
                        </button>                        
                        <button href="#" class='btn dropdown-toggle' data-toggle="dropdown">
                            &nbsp;
                            <i class='icon-ellipsis-vertical'></i>
                            &nbsp;
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click='managePartyState.deleteMode = true' >
                                    <i class='icon-minus-sign'></i>
                                    Usuń członka
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href='#'>
                                    <i class='icon-trash'></i> 
                                    Zniszcz drużynę
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
<h1>{{ deleteMode }}</h1>