<div class="navbar navbar-inverse">
        <div class='container-fluid'>
            <a class="navbar-brand" style="max-width: 100%;" href="#">
                Edycja postaci - {{ character.name }}
            </a>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <div class='navbar-form'>
                        <button ng-click="manageParty()" class='btn btn-default' >
                            <i class='icon-chevron-left'></i>
                            Powrót
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>