
<div class="page-header">
  <h1>
      <i class="fa fa-lightbulb-o" ></i>&nbsp;
      Umbra Turris 
      <small>Menedżer drużyn</small>
  </h1>
</div>
<div class='well'>
        Projekt rozwijany przez <a href='https://github.com/gregorl'>Grzegorz Lachowskiego</a> przy użyciu AngularJS i Bootstrap. <br/>
        Źródła dostępne na <a href='https://github.com/gregorl/ut-party-manager'>GitHubie</a> autora. <br/>
        Serdeczne podziękowania dla twórców Umbra Turris i mojego kuzyna za pomysł na appkę ;)
</div>