<div class="page-header">
    <h1>
        <i class="fa fa-bookmark-o" ></i>&nbsp;
        Umbra Turris
        <small>Menedżer drużyn</small>
    </h1>
</div>
<div class='row'>
    <div class='col-md-12'>
        <p class='lead'>
            Projektuj i drukuj swoje drużyny do gry bitewnej Umbra Turris.
            <br/>Możesz przeglądać i edytować uprzednio edytowane drużyny za pomocą paska bocznego.
            <br/>Baw się dobrze!
        </p>
    </div>
</div>
<div class='row'>
    <div class='col-md-offset-8 col-md-4'>
        <a href='#/party' class="btn btn-primary btn-lg" role="button">Utwórz nową drużynę</a>
    </div>
</div>
