<div class="page-header">
    <h1>
        <i class="fa fa-bookmark-o"></i>&nbsp; Witaj strudzony wędrowcze!
        <small></small>
    </h1>
</div>

<div class="row">
    <div class='col-md-12'>
        <p class='lead'>
            Projektuj i drukuj swoje drużyny do gry bitewnej Umbra Turris.
            <br/>Aby kontynuować kliknij przycisk poniżej
            <span ng-show='parties.length > 0'>lub wybierz drużynę ze spisu po prawej</span>.
            <br/>Baw się dobrze!
        </p>
    </div>
</div>

<div class='row'>
    <div class='col-md-offset-8 col-md-4'>
        <p>
            <a href='#/party' class="btn btn-primary btn-lg" role="button">Utwórz nową drużynę</a>
        </p>
    </div>
</div>
<div class="clearfix"></div>
